.main-navigation__title {
  color: white;
  display: inline-flex;
  padding-left: 3rem;
}

.main-navigation__title a {
  text-decoration: none;
  color: #f48024;
  display: flex;
}

.small-title {
    color: rgb(189, 188, 188);
    padding-left: 3%;
    padding-top: 8%;
    font-size: 1.7rem;
    font-weight: 1;

}

.big-title {
    color: white;
    padding-left: 3%;
    padding-top: 6%;
    font-size: 2rem;
    font-weight: bold;
}