.main-navigation__title {
  color: white;
  display: inline-flex;
  padding-left: 3rem;
}

.main-navigation__title a {
  text-decoration: none;
  color: #f48024;
  display: flex;
}

.main-navigation__header-nav {
    display: none;
  }

@media (min-width: 768px) {
    .main-navigation__header-nav {
      display: block;
    }
}

.small-title {
    color: rgb(189, 188, 188);
    padding-left: 3%;
    padding-top: 8%;
    font-size: 1.7rem;
    font-weight: 1;

}

.big-title {
    color: white;
    padding-left: 3%;
    padding-top: 6%;
    font-size: 2rem;
    font-weight: bold;
}

.s-navigation {
    padding: 2px 2px;
}
  
.s-navigation .not-selected {
  color: #c4c8cc;

  &:hover {
    background-color: #404345;
    color: #f2f2f3;
    text-decoration: none;
    outline: none;
  }
}


.s-input {
  margin-bottom: 1rem;
  color: #404345;
}

.s-input__search{
  margin-top: 10px;
}
.s-input-icon {
  margin-top: -2px;
}

.search-frame {
  width: 220px;
  float: right;
}

.search-box:focus {
  border-color: #2b5f8a;
  box-shadow: 0 0 0 4px #378ad326;
  color: #fff;
  outline: 0;
}

