.main-navigation__title {
  color: white;
  display: inline-flex;
  padding-left: 3rem;
}

.main-navigation__title a {
  text-decoration: none;
  color: #f48024;
  display: flex;
}

.main-navigation__header-nav {
    display: none;
  }

@media (min-width: 768px) {
    .main-navigation__header-nav {
      display: block;
    }
}

.small-title {
    color: rgb(189, 188, 188);
    padding-left: 3%;
    padding-top: 8%;
    font-size: 1.7rem;
    font-weight: 1;

}

.big-title {
    color: white;
    padding-left: 3%;
    padding-top: 6%;
    font-size: 2rem;
    font-weight: bold;
}

.s-navigation {
    padding: 2px 2px;
  }
  
  .s-navigation .not-selected {
    color: #c4c8cc;
  
    &:hover {
      background-color: #404345;
      color: #f2f2f3;
      text-decoration: none;
      outline: none;
    }
  }

  .small-search {
    width: 98vw;
    position: fixed;
    top: 69px;
    left: 5px;
    border-radius: 8px;
  }
  
  .small-search-form {
    position: fixed;
    display: flex;
    z-index: 1000;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #00000042;
    box-shadow: 2px 2px 8px 3px gray;
  }
  
  .small-search-icon {
    position: fixed;
    top: 80px;
    right: 5%;
  }
  
  .s-input__search{
    margin-top: 10px;
  }
  .s-input-icon {
    margin-top: -2px;
  }