.question-container {
    width: 100%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05), 0 20px 48px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.1);
    padding: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    background-color: #2d2d2d;
    border-radius: 7px;
    box-sizing: inherit;
    display: block;
  }

  .question-container div {
    margin: 6px 0;
  }
  
  .question-container div button {
    margin: 5px 0 3px 0;
    width: 100%;
  }
  
  .question-container .fs-caption {
    color: #6a737c;
    font-size: 14px;
  }
  
  .question-container .license {
    margin-top: 32px;
  }
  
  .question-container .form-label {
    font-weight: 600;
    color: white;
  }

  .form-sub-label {
    display: block;
    color: #a4a9ae;
  }

  .top-label {
    font-weight: 600;
    font-size: 26px;
    color: white;
    margin-bottom: 2%;
  }
  