.form-container {
    width: 460px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05), 0 20px 48px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.1);
    padding: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    background-color: #2d2d2d;
    border-radius: 8px;
    box-sizing: inherit;
  }
  
  .form-container div {
    margin: 8px 0;
    display: flex;
  }
  
  .form-container div button {
    margin: 5px 0 3px 0;
    width: 100%;
  }
  
  .form-container .fs-caption {
    color: #6a737c;
    font-size: 12px;
  }
  
  .form-container .license {
    margin-top: 32px;
  }
  
  .form-label {
    font-weight: 600;
    color: #a4a9ae;
  }

  .form-input {
    background-color: #2d2d2d;
    margin: 1% 0 4% 0;
    
  }
  
  .icon-holder {
    text-align: center;
    margin-bottom: 15px;
    text-decoration: none;
    color: #f48024;
    
  }

  .icon-holder div {
    text-align: center;
    margin: 0 12px 15px 0;
    text-decoration: none;
    
  }
  
  .redirects {
    padding: 16px 16px 0 16px;
    text-align: center;
    font-size: 13px;
    margin-bottom: 24px;
  }
  
  .auth-page {
    height: 100vh;
    width: 100vw;
    padding-top: 63px;
    background-color: #3d3d3d;
  }
  
  .register-content {
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 5%;
  }
  
  .register-grid  {
    display: flex;
    align-items: center;
    box-sizing: inherit;
  }

  .avatar {
    display: inline-flex;
  }

  .avatar button {
    background-color: transparent;
    border: 0;
  }

  .avatar button:hover {
    background-color: rgb(97, 95, 95);
    border-radius: 10px;
  }

  .avatar .clicked {
    background-color: rgb(97, 95, 95);
    border-radius: 10px;
  }